<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cats_warning_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{220,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{220,36}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cats_warning_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,82},{248,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>countdown_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,754},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>countdown_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,246},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>countdown_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,553},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>countdown_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,376},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>countdown_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,345},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>countdown_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,314},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>countdown_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,283},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>good_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,932},{86,32}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{86,32}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>good_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,754},{86,32}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{86,32}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>guide_arrow_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,788},{46,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>guide_arrow_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,948},{46,48}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>guide_arrow_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,754},{48,42}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>guide_arrow_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,944},{46,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>guide_arrow_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,932},{46,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{46,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>guide_arrow_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,212},{46,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{46,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>guide_arrow_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,164},{46,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{46,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>guide_cursor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,492},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>guide_cursor_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,523},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>guide_phase_0_words_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,466},{270,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{270,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_0_words_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,492},{238,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{238,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_1_words_pc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,410},{270,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{270,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_1_words_phone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,384},{270,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{270,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_2_words_pc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,164},{288,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,7},{288,80}}</string>
                <key>sourceSize</key>
                <string>{384,96}</string>
            </dict>
            <key>guide_phase_2_words_phone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{236,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{236,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_3_words_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,328},{270,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{270,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_3_words_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,302},{270,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{270,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_4_words_pc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,100},{302,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{302,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_4_words_pc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,182},{278,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,5},{278,118}}</string>
                <key>sourceSize</key>
                <string>{384,128}</string>
            </dict>
            <key>guide_phase_4_words_phone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,100},{302,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{302,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_4_words_phone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{302,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{302,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_5_words_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,246},{270,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{270,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_5_words_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{302,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{302,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_5_words_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{302,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{302,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_6_words_pc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{368,78}}</string>
                <key>sourceSize</key>
                <string>{384,96}</string>
            </dict>
            <key>guide_phase_6_words_phone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{302,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{302,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_7_words_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{236,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{236,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_7_words_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{308,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{308,78}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_7_words_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,82},{302,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{302,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>guide_phase_7_words_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{320,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,96}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>hint_rect_long_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,548},{48,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,144}}</string>
                <key>sourceSize</key>
                <string>{48,144}</string>
            </dict>
            <key>hint_rect_long_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,704},{48,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,144}}</string>
                <key>sourceSize</key>
                <string>{48,144}</string>
            </dict>
            <key>hint_rect_long_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,798},{48,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,144}}</string>
                <key>sourceSize</key>
                <string>{48,144}</string>
            </dict>
            <key>hint_rect_long_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,800},{48,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,144}}</string>
                <key>sourceSize</key>
                <string>{48,144}</string>
            </dict>
            <key>lose_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,988},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>round_four_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,526},{176,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{176,64}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>round_four_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{202,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{202,92}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>round_one_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,800},{158,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,14},{158,64}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>round_one_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,407},{190,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{190,94}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>round_three_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,332},{192,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{192,64}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>round_three_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{218,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{218,92}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>round_two_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,594},{158,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,15},{158,64}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>round_two_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{186,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{186,92}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>run_away_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,800},{154,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,15},{154,36}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>run_away_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,410},{182,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>select_rect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,898},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>select_rect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,692},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>select_rect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,754},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>select_rect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,848},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>top_2_notice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,788},{142,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,15},{142,62}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>top_4_notice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,548},{142,64}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,13},{142,64}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>top_6_notice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,548},{142,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{142,62}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>top_8_notice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,960},{142,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{142,62}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>win_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_effect_spriteframes.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1521d0c2618e1f299f435161c467f1b9$</string>
            <key>textureFileName</key>
            <string>game_effect_spriteframes.png</string>
        </dict>
    </dict>
</plist>
